body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DAF7A6;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.container {
  display:block;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.item {
  display: block;
  width: inherit;
  height: 40px;
  line-height: 40px;
  background: #555;
  border: 1px solid #000;
  cursor: pointer;
  color: #fff;
}

.item-data {
  display: none;
  width: inherit;
  height: auto;
  border: 1px solid #ccc;
}

.active {
  background: #eee;
  color: #000;
}
.item-data div{
  margin: 30px;
}
.topnav {
  overflow: hidden;
  background-color: #001B3F;
}
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #FFC300;
  color: black;
}
.active {
  background-color: #84B8FF;
  color: white;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.green {
  background: white;
  color: black;
}
