<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.11.0.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'subscribe.js' %}"></script>

    <title></title>
  </head>
  <body>
    <form class="form-group" id="subscribe_form" method="POST" onsubmit="return false;">
    	{% csrf_token %}
    		{% for i in form %}
    			<div class="form-group">
    				{{i.label}}
    				{{i}}
    			</div>
    		{% endfor %}

        <button type="submit" id="id_submit" class="btn btn-primary float-right" disabled="true" onclick="subscribe()">
          subscribe
        </button>

        <div class="mt-4" id ="response_msg"></div>
        <div class="mt-4" id ="validate_msg"></div>

  	</form>
  </body>
</html>
