{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
					 <p class="display-4">Hello, {{ user.username }}</p>
					 <a class="display-4" href="{% url 'logout' %}">log out</a>
{% else %}
					 <a class="lead" href="{% url 'login' %}">Log in</a>
{% endif %}

<div>

	<div class="counter-container text-center">
    <h1><i class ="fa fa-heart"></i> : <span class="counters">0</span></h1>
  </div>


  <br>
	<table class="table table-responsive-sm table-bordered text-center">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">No</th>
	      <th scope="col">Title</th>
	      <th scope="col">Published Date</th>
	      <th scope="col">Authors</th>
	      <th scope="col">Add To Favorite</th>
	    </tr>
	  </thead>
	  <tbody>

	  </tbody>
	</table>



  <script type="text/javascript">

  $(document).ready(function(){
    var search = "{{ search }}"
			$.ajax({
				type:"GET",
				url:"/bookList/api/"+search,
				dataType : "json",
				success: function(data)
				{
					console.log(data)
					var print = '<tr>';
					for(var i = 1; i <= data.data.length; i++){
						print += '<th scope="row">' + i + '</th> <td>' + data.data[i-1].title + '</td> <td>';
						print += data.data[i-1].publishedDate + '</td> <td>'
						print += data.data[i-1].author + '</td> <td>'
						print += '<button id="buttons" type="button" class="btn btn-outline-white"><i id="fav" class="fa fa-heart"></i></button>' + ' </td> </tr>'
					}
					$("tbody").append(print);
			}});
		}
	);

	var counter = 0;
	$(document).on('click', '#buttons', function() {
	        if( $(this).hasClass('clicked') ) {
	            counter -= 1;
	            $(this).removeClass('clicked');
	            $(this).removeClass('bg-dark');
	        }
	        else {
	            $(this).addClass('clicked');
	            $(this).addClass('bg-dark');
	            counter += 1;
	        }
	        $('.counters').html(counter);

	    });



</script>

{% endblock %}
