<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>status web</title>
    <style media="screen">
      body{
        background-color: #001B3F;
      }
    </style>
  </head>

  <body>
    <h1 id="id_title" style="color: #FFDA1A;">Hello</h1>
    <form class="" action="" method="post" id="id_status_form" style="color: #FFDA1A;">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary float-right" value="Post" id = "id_submit" style="color: #FFDA1A;">
    </form>
    <br>
    <br>
    {% for status in status %}
    <div class="col-sm-12 text-center">
      <p id="id_status_timeline" style="color: #FFDA1A;">{{ status.status }}</p>
    </div>

    {% endfor %}

    <a href="{% url 'profile' %}">
      <h4 class="display-4 text-center" id="id_myprofile" style="color: #FFFFFF;">my profile</h4>
    </a>

  </body>

</html>
