{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="preloader"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center" style="padding-top : 5%">
      <h2 >HI, MY NAME IS MUHAMMAD KHATAMI</h2>
    </div>
  </div>
</div>

<div class='container'>
  <div class='item'>Nama</div>
  <div class='item-data'>
    <div>Muhammad Khatami</div>
  </div>
  <div class='item'>Jurusan</div>
  <div class='item-data'>
    <div>Sistem Informasi</div>
  </div>
  <div class='item'>Fakultas</div>
  <div class='item-data' >
    <div>Fakultas Ilmu Komputer</div>
  </div>
  <div class='item'>Universitas</div>
  <div class='item-data' >
    <div>Universitas Indonesia</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center" style="padding-top: 5%">
      <ul id="switcher">
        <li class="gray"></li>
        <li class="white"></li>
        <li class="blue"></li>
        <li class="yellow"></li>
      </ul>
      <h1>Theme Switcher</h1>
    </div>
  </div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}

$('#switcher li').click(switchTheme);
function switchTheme() {
  var theme = $(this).attr('class');
  $('body').attr('class', theme);
}

$(document).ready(function(e){
  $('.item').click(function (e){
    if($(this).next('.item-data').css('display') != 'block'){
      $('.active').slideUp('fast').removeClass('active');
      $(this).next('.item-data').addClass('active').slideDown('slow');
    } else {
      $('.active').slideUp('fast').removeClass('active');
    }
  });
});

$(document).ready( function() {
	$('#preloader').delay(1000).fadeOut();
});

</script>

{% endblock %}
