body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display:block;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.item {
  display: block;
  width: inherit;
  height: 40px;
  line-height: 40px;
  background: #092888;
  border: 1px solid #000;
  cursor: pointer;
  color: #F4E200;
}

.item-data {
  display: none;
  width: inherit;
  height: auto;
  border: 1px solid #ccc;
}

.active {
  background: #eee;
  color: #000;
}
.item-data div{
  margin: 30px;
}
.topnav {
  overflow: hidden;
  background-color: #001B3F;
}
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #FFC300;
  color: black;
}
.active {
  background-color: #84B8FF;
  color: white;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.gray {
  background: #484848;
  color: white;
}
.white {
  background: white;
  color: black;
}
.blue {
  background: #7CD7FF;
  color: white;
}
.yellow {
  background: #F0F7A6;
  color: black;
}
#switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#switcher li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 15px 15px 0;
  border-radius: 30px;
  border: 3px solid black;
}
#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: white
			url('https://3.bp.blogspot.com/-eHfZtLqtpJQ/V5DCLDBBqCI/AAAAAAAABeg/kAHygWy6Ydcs4BcTajh4Pf6mkfJ60rH2gCLcB/s320/01-progress.gif')
			no-repeat center center;
}
